<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.example.backed.Mapper.DocumentMapper">
    <insert id="insertDocument" parameterType="Document">
        insert into doucument(d_content,d_user_u_id)
        values(#{documentContent},#{documentUserId})
    </insert>
    <update id="updateDocument" parameterType="Document">
        update doucument set d_content = #{documentContent}
        where d_id = #{documentId}
    </update>
    <delete id="deleteDocument" parameterType="Document">
        delete from doucument where d_id = #{documentId}
    </delete>

</mapper>
